<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.penguinstech.notificationsalarmapp">


    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotificationsAlarmApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        registering our main scheduler receiver-->
        <receiver android:name=".Scheduler.AutoStartScheduler"
            android:enabled="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>

        <receiver android:name=".Scheduler.MainScheduler">
            <intent-filter>
                <action android:name="com.penguinstech.notificationsalarmapp.scheduler"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".Scheduler.NotificationAlertScheduler">
            <intent-filter>
                <action android:name="com.penguinstech.notificationsalarmapp.scheduler.reminder"/>
            </intent-filter>
        </receiver>

        <service android:name=".Scheduler.SchedulerService"
            android:enabled="true"
            >

        </service>
    </application>

</manifest>